.row{
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 670px){
  .textCaption{
    display: none;
  }
}

.welcomename{
  margin-top: 1em;
  float: right;
  color: rgb(58, 57, 57);
}

.title{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2.5em;
}

@media (max-width:600px)
{
  .title{
    font-size: 2em;
  }
}

.subtitle{
  color: #9c050b;
}

.popcorn{
  width: 2em;
  padding-bottom: 0.5em;
}