.row{
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 670px){
  .textCaption{
    display: none;
  }
}

.welcomename{
  margin-top: 1em;
  float: right;
  color: gray;
}
.title{
  font-family: 'Encode Sans Condensed', sans-serif;
}