<div class="row">
  <div class="col-md-10 mx-auto text-center">
      <h2 class="mt-5 mb-2">¡Busca tus películas favoritas!</h2>
    <input type="text" matInput [(ngModel)]="query" [matAutocomplete]="auto" (input)="getquery()" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of autoList" [value]="option.Title">{{option.Title}}
        <button type="button" class="button" title="ver info de película" (click)="view(option.imdbID)">
          <i class="fas fa-star"></i>
        </button>
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
