<div class="row">
    <div class="col-md-10 mx-auto text-center">
      <h2 class="mt-5 mb-2">¡Busca tus películas favoritas!</h2>
      <hr>
      <input type="text" matInput [(ngModel)]="query" [matAutocomplete]="auto" (input)="getquery(query)" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of autoList" [value]="option.Title">
          <button type="button" class="button" title="ver info de película" (click)="viewCard(option.imdbID)">
            {{option.Title}}
            <i class="fas fa-eye"></i>
          </button>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

 <div class="row mt-5">
    <div class="col-md-10 mx-auto">
      <div *ngIf="moviesInfo">
        <mat-card class="example-card">
          <div class="row">
          <div class="col-md-6 text-center">
            <mat-card-header>
              <mat-card-title>{{moviesInfo[0]}}</mat-card-title>
              <mat-card-subtitle>Año: {{moviesInfo[1]}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{moviesInfo[13]}}">
          </div>
          <div class="col-md-6">
            <mat-card-content class="mt-5 pt-4">
              <p><strong>Sinopsis:</strong>  {{moviesInfo[9]}} </p>
              <p><strong>Director:</strong> {{moviesInfo[6]}} </p>
              <p><strong>Ranking:</strong> {{moviesInfo[16]}} </p>
            </mat-card-content>
            <mat-card-actions>
                <button type="button" class="button btn"  title="Agregar a favoritos" (click)="addFav(moviesInfo)"><i class="fas fa-heart"></i></button>
                <button type="button" class="button btn"  title="Agregar a películas por ver" (click)="addToWatch(moviesInfo)"><i class="fas fa-eye"></i></button>
                <button type="button" class="button btn"  title="Agregar a películas vistas" (click)="addViewed(moviesInfo)"><i class="far fa-check-circle"></i></button>

              <app-comentarios></app-comentarios>
            </mat-card-actions>
          </div>
        </div>
        </mat-card>
      </div>
    </div>
  </div>
