<app-toolbar></app-toolbar>
<app-dataprofile></app-dataprofile>

<div class="row">
  <div class="col-md-8 mx-auto text-center">
    <h4 class="mt-4" *ngIf="">Películas favoritas</h4>
    <hr>
    <h4 class="titlehide">Aún no has añadido ninguna película</h4>
    <div class="row favorites mt-1" *ngFor="let favorite of favsService.favList">
      <div class="col-md-6 text-center">
        <img src="{{favorite.poster}}" class="img" alt="poster">
      </div>
      <div class="col-md-6 text-left">
        <p class="mt-4">
          <strong>Título:</strong> {{favorite.title}} </p>
        <p>
          <strong>Año:</strong> {{favorite.year}} </p>
        <p>
          <strong>Sinopsis:</strong> {{favorite.sinopsis}}</p>
        <button type="button" class="button" title="Eliminar de Favoritos" (click)="favsService.deleteFav(favorite.$key)"></i>>
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>

  </div>
</div>






<h4>Películas por ver</h4>
<div *ngFor="let view of favsService.viewList">
  {{view.title}} {{view.sinopsis}}
  <img src="{{view.poster}}" alt=""> {{view.year}}
  <button type="button" class="button" title="Eliminar de Favoritos" (click)="favsService.deleteView(view.$key)">
    <i class="fas fa-trash"></i>
  </button>
</div>


<h4>Películas vistas</h4>
<div *ngFor="let watch of favsService.watchList">
  {{watch.title}} {{watch.sinopsis}}
  <img src="{{watch.poster}}" alt=""> {{watch.year}}
  <button type="button" class="button" title="Eliminar de Favoritos" (click)="favsService.deleteWatch(watch.$key)">
    <i class="fas fa-trash"></i>
  </button>
</div>