.favorites{
  background: white;
  border-radius: 8px;
  width: 60%;
}

.row{
  padding: 0;
  margin: 0;
  width: 100%;
}
.img{
  width: 40%;
  margin-top: 2em;
}
.button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
}
.titlehide{
  color: rgb(148, 146, 146);
}

.contenedormovies{
  background-color: rgba(0, 0, 0, 0.479);
  padding-bottom: 1em;
}

.titles{
  color: white;
}