<app-toolbar></app-toolbar>
<app-dataprofile></app-dataprofile>

<h4>Favoritas</h4>
<div *ngFor="let favorite of favsService.favList"> 
{{favorite.title}}
{{favorite.sinopsis}}
{{favorite.ranking}}
{{favorite.director}}
 <img src="{{favorite.poster}}" alt="">
{{favorite.year}}
<button type="button" class="button" title="Eliminar de Favoritos" (click)="favsService.deleteFav(favorite.$key)"><i class="fas fa-trash"></i></button>
</div>






<h4>Películas por ver</h4>
<div *ngFor="let view of favsService.viewList"> 
{{view.title}}
{{view.sinopsis}}
{{view.ranking}}
{{view.director}}
<img src="{{view.poster}}" alt="">
{{view.year}}
<button type="button" class="button" title="Eliminar de Favoritos" (click)="favsService.deleteView(view.$key)"><i class="fas fa-trash"></i></button>
</div>


<h4>Películas vistas</h4>
<div *ngFor="let watch of favsService.watchList"> 
{{watch.title}}
{{watch.sinopsis}}
{{watch.ranking}}
{{watch.director}}
<img src="{{watch.poster}}" alt="">
{{watch.year}}
<button type="button" class="button" title="Eliminar de Favoritos" (click)="favsService.deleteWatch(watch.$key)"><i class="fas fa-trash"></i></button>
</div>