<div class="container_back">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 ">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">

      <div class="container">
        <form [formGroup]="authForm" (ngSubmit)="onRegister()" *ngIf="!(authService.user | async)">
          <div class="form-group">

            <div id="login" *ngIf="!show">
              <strong>
                <p>Inicia sesión</p>
              </strong>
              <input type="email" formControlName="email" placeholder="Email">

              <input type="password" formControlName="password" placeholder="Contraseña">

              <button mat-button id="btn-login" (click)="onLogin()" [disabled]="!authForm.valid" id="btn-login">Ingresar</button>
              <!--Ejecutará onLogin-->

              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <button mat-raised-button color="primary" class="btn-block" (click)="onClickFacebookLogin()"><i class="fab fa-facebook-f"></i>Facebook</button>
                </div>

                <div class="col-sm-12 col-lg-6">
                  <button mat-raised-button color="warn" class="btn-block" (click)="onClickGoogleLogin()"><i class="fab fa-google-plus-g"></i>Google</button>
                </div>
              </div>

              <div id="register-link">
                <strong>
                  <p>¿Aún no tienes cuenta?</p>
                  <button type="button" class="btn btn-link text-danger" id="btn-register" (click)="show=true">REGÍSTRATE</button>
                </strong>
              </div>
            </div>

            <div id="registro" *ngIf="show">
              <strong>
                <p>Ingresa tu nombre completo:</p>
              </strong>
              <input type="text" formControlName="name" placeholder="Nombre completo">

              <strong>
                <p>Ingresa tu fecha de nacimiento:</p>
              </strong>
              <input type="text" formControlName="date" placeholder="dd/mm/aaaa">

              <strong>
                <p>Ingresa tu correo electrónico:</p>
              </strong>
              <input type="email" formControlName="emailRegistro" placeholder="Correo electrónico">

              <strong>
                <p>Crea una contraseña:</p>
              </strong>
              <input type="password" formControlName="password" placeholder="Contraseña">

              <strong>
                <p>Confirma tu contraseña:</p>
              </strong>
              <input type="password" formControlName="confirmPassword" placeholder="Contraseña">

              <button type="button" class="btn btn-link text-danger" id="btn-register" (click)="show2=true"><i class="fas fa-arrow-left"></i>Volver
                atrás</button>

              <button mat-stroked-button id="register-btn" type="submit" [disabled]="!authForm.valid">Registrarse</button>

            </div>
            <!--Ejecutará ngSubmit -> onRegister puesto en la etiqueta form-->
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="ccol-sm-12 col-md-4 col-lg-4 ">
  </div>

</div>