.fondoLogin{
  background:url('../../../assets/img/logocinemaopacity.png') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#inputForm{
background-color:#636969;
padding-left:1em;
padding-right:1em;
}

.botones{
  display: flex;
  justify-content: center;
}

/* Capa transparente */
.container_back:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  opacity: 0.5;
}



input {
  display: block;
  width: 100%;
}

.img-fluid {
  height: 300px;
  margin-bottom: 50px;
  width: 100%;
}

.btn-block {
  margin-top: 10px; 
  margin-bottom: 10px;
}

#registro {
  display:block;
  margin:auto;
}

.fab {
  padding: 0 12px;
}

 #btn-login{
  padding-right: 2.5em;
  padding-left: 2.5em;
 }

#btn-registro{
  display: flex !important;
  justify-content: center !important ;
}

.start p {
  color: rgba(210, 218, 224, 0.87);
  font-weight: 500;
  margin-top: 1em;
  font-size: 16px
}

.registro a{
  color: #e8efef;
  text-decoration: underline;
}

/* @media (min-width: 990px){
.container {
    min-width: 720px !important;
}
#inputForm{
  min-width: 750px !important;
}
} */