<div class="row header">
  <div class="col-sm-12">
      <img src="/../assets/img/logocinema.png" width="80" height="80" alt="" srcset="">
    <a class="btnToolbar inicio" href="#"> Inicio</a>
    <a class="btnToolbar perfil" href="">Perfil</a>
    <a class="btnToolbar cerrar right" href=""><i class="fas fa-sign-out-alt"></i><span class="textbtn"> Cerrar Sesión</span></a>
    <a class="btnToolbar ingresar right" routerLink='/login'><i class="fas fa-user"></i> <span class="textbtn"> Ingresar</span> </a>
  </div>
</div>
